body {
  padding: 0;
  margin: 0;
}

.provider-hero-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background-color: aqua;
  padding: 10px;
}


.provider-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.provider-logo {
  width: 50%;

}

.provider-logo img {

  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;

}