@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.title {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: -5px;
  color: rgb(122, 122, 122);
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  color: rgb(122, 122, 122);
}

.header {
  margin: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
}