.nav-panel {
    align-items: center;
    display: flex;
}
.arrow {
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.current-provider {
    align-items:center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    width: 200px;
}
.provider_name {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;
}