.nav-panel {
    border: 2px solid black;
    border-radius:12px;
    align-items: center;
    
    /* display: flex; */
}
.arrow {
    background-color:pink;
    border-radius: 12px;
    width: 25px;
    align-items: center;
    /* display: flex; */
    flex-direction: row;
    border-color: 1px solid pink;
    font-size:25px;
}
.arrow:hover {
    background-color: rgb(255, 152, 170);
    cursor: pointer;
}
.nav-arrows {
    padding: 15px 0px 0px 0px;
}
.current-provider {
    align-items:center;
    
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* width: 200px; */
}

.provider_btn {
    width: 175px;
    height: 50px;
    background-color: pink;
    border-radius: 6px;
}
.provider_btn:hover, .clicked {
    box-shadow: 5px 10px 10px lightblue;
    background-color: rgb(255, 152, 170);
    cursor: pointer;
}

.current_provider_name {
    display: inline-block;
    /* cursor: pointer; */
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    padding: 0px;
    /* height: 0px; */
    /* width: 100%; */
    margin: 0px;
    /* text-align: center; */
    font-size: medium;
}

.providers-menu {
    position: relative;
}