.main-content {
  display: flex;
}

.button-review {
  background-color: pink;
  height: 70px;
  width: 170px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border-color: 1px solid rgb(255, 152, 170);
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 150px;
}

button:hover {
  background-color: rgb(255, 152, 170);
  cursor: pointer;
}

.write-review-text {
  margin-left: 100px;
}

.no-review {
  align-content: center;
  color: #0C0C0C;
  padding: 150px;
}